/* Introdução*/
.interna_sobre {
  margin-top: 60px;
  width: 100%;
  height: 160px;
  text-align: center;
  background: url("../img/home/bg-home.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0;
}

.interna_sobre h1 {
  font-size: 36px;
}

.interna_sobre h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 12px auto 11px auto;
}

.interna_sobre p {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

/*Historia*/
.historia {
  padding: 60px 0;
  text-align: left;
}

.sobre_historia h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.sobre_historia h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto 12px 0;
}

.sobre_historia p {
  max-width: 520px;
  margin-bottom: 10px;
}

.sobre_valores h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0;
}

.sobre_valores h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto 12px 0;
}

.sobre_valores ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 25px;
}

/*valores quebra*/
.valores_quebra_bg {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 940px;
  height: 320px;
  text-align: center;
  background: url("../img/sobre/sobre-valores.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0;
}
