/* Estilos Gerais*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
}

.btn {
  border: 4px solid #fec63e;
  padding: 12px 21px;
  color: #fec63e;
  text-transform: uppercase;
  font: normal bold 14px/20px Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  display: inline-block;
  border-radius: 3px;
  box-shadow: 3px 3px 2px #333;
  /*background: url("../img/bg-btn.jpg") no-repeat;
  background-size: cover;*/
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.btn_preto:hover {
  color: #000;
  border-color: #000;
}

.subtitulo {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.call {
  padding-top: 40px;
  text-align: center;
  clear: both;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fec63e; /* Amarelo */
  padding: 3px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 27px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}

/* home Introdução */
.home_intro {
  margin-top: 80px;
  width: 100%;
  height: 380px;
  text-align: center;
  background: url("../img/home/bg-home.jpg") no-repeat;
  background-size: cover;
  padding-top: 80px;
}

.titulo {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}

.quote_externo {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
}

.texto_quote {
  font-style: italic;
}

.texto_quote::before,
.texto_quote::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 13px auto 11px auto;
}

.home_intro .btn {
  margin-top: 40px;
}

.citacao {
  font-style: normal;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
  display: block;
  margin-top: 12px;
}

/* Home Produtos*/

.produtos {
  padding: 60px 0;
}

.produtos_lista li {
  background: #fec63e;
  text-align: center;
}

.produtos_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.produtos_lista li p {
  padding: 15px 20px 20px 20px;
}

.produtos_icones {
  background: #000;
  padding: 30px 50px;
}

.call p {
  margin-bottom: 20px;
}

/* Home Portfólio*/

.portfolio {
  background: #000;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
}

.portfolio .subtitulo {
  color: #fec63e;
}

.portfolio .subtitulo::after {
  background: #fec63e;
}

.portfolio_lista li:last-child {
  margin-top: 20px;
}
.portfolio .call p {
  color: #fff;
}

/* Home qualidade*/
.qualidade {
  margin: 60px auto;
  text-align: center;
}

.qualidade::after {
  content: "";
  display: block;
  width: 626px;
  height: 82px;
  background: url("../img/linhas-qualidade.svg") no-repeat center;
  position: absolute;
  top: 121px;
  left: 167px;
  z-index: -1;
}

.qualidade img {
  margin: 20px auto;
}

.qualidade_lista li {
  padding: 0 40px;
  text-align: center;
}

.qualidade_lista li:first-child {
  padding: 0 40px 0 50px;
  text-align: center;
}

.qualidade_lista li:last-child {
  padding: 0 50px 0 40px;
  text-align: center;
}

.qualidade_lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade_lista li h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 4px auto;
}

/*Home quebra*/
.quebra {
  text-align: center;
  width: 100%;
  height: 220px;
  background: url("../img/home/home-footer.jpg") no-repeat center;
  background-size: cover;
  padding: 50px 0;
}

.quebra .quote_externo {
  max-width: 400px;
}

/*Home footer*/
.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px;
}

.footer h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin-top: 6px;
  margin-bottom: 12px;
}

.footer_historia p {
  max-width: 400px;
}

.footer_contatos ul li {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 25px;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fec63e;
  padding: 10px;
  display: block;
}

.footer_redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  padding: 20px;
  background: #fec63e;
}
